{% load staticfiles %}
{% comment %} <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> {% endcomment %}
<meta name="HandheldFriendly" content="true">
<link rel="stylesheet" href="{% static 'bnta/fontawesome.css' %}">
<link href="{% static 'bnta/bootstrap-glyphicons.css' %}" rel="stylesheet">
<link rel="icon" href="{% static 'fonts/iconic/fonts/Material-Design-Iconic-Font.eot' %}">
<link rel="icon" href="{% static 'fonts/iconic/fonts/Material-Design-Iconic-Font.svg' %}">
<link rel="icon" href="{% static 'fonts/iconic/fonts/Material-Design-Iconic-Font.ttf' %}">
<link rel="icon" href="{% static 'fonts/iconic/fonts/Material-Design-Iconic-Font.woff' %}">
<link rel="icon" href="{% static 'fonts/iconic/fonts/Material-Design-Iconic-Font.woff2' %}">
<link rel="stylesheet" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<link rel="stylesheet" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}"/>


<link rel="stylesheet" href="{% static 'bnta/mdb.css' %}">
<link rel="stylesheet" href="{% static 'styles/main_styles.css' %}"/>
<link rel="stylesheet" href="{% static 'styles/responsive.css' %}"/>
<link rel="stylesheet" href="{% static 'bnta/mdstyle.css' %}">
 {% comment %} <script type="text/javascript" src="{% static 'bnta/bootstrap.js' %}"></script> {% endcomment %}
 <script type="text/javascript" src="{% static 'bnta/jquery.js' %}"></script>
 {% comment %} <script type="text/javascript" src="{% static 'bnta/mdb.js' %}"></script> {% endcomment %}
 <script type="text/javascript" src="{% static 'bnta/popper.js' %}"></script>
  {% comment %} <script type="text/javascript" src="bnta/bootstrap.js"></script>
 <script type="text/javascript" src="bnta/jquery.js"></script>
 <script type="text/javascript" src="bnta/mdb.js"></script>
 <script type="text/javascript" src="bnta/popper.js"></script> {% endcomment %}
 <script type="text/javascript" src="{% static 'bnta/bootstrap.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'bnta/jquery.min.js' %}"></script>
 {% comment %} <script type="text/javascript" src="{% static 'bnta/mdb.min.js' %}"></script> {% endcomment %}
 <script type="text/javascript" src="{% static 'bnta/popper.min.js' %}"></script>